*{
    margin: 0px;
    padding: 0px;
}

.merriweather{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared class */
.color-1{
    background-color: #FF0000;
}

.color-2{
    color: #FF0000;
}
.color-3{
    color: #FFFFFF;
}
.color-4{
    color: #070211;
}

.btn{
    height: 56px;
    width: 167px;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    /* text-align: center; */
    color: white;
    cursor: pointer;
}
.center{
    text-align: center;
}

.big-text{
    font-size: 72px;
    font-weight: 900;
}

/*Navigation Bar*/
nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 50px;
    margin-top: 30px;
    margin-right: 80px;
    font-size: 20px;
    align-items: center;
}

nav ul li:hover{
    /* height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #FF0000; */
    color:#FF0000 ;
    cursor: pointer;
}

/*main Section*/
main{
    max-width: 1320px;
    margin: 0 auto;
}

/*banner-section*/
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.0)) , url(../assets/images/Banner\ Image.png);
    border-radius: 16px;
    /* background-size: cover;
    background-attachment: fixed; */
}
.big-title{
    height: 190px;
    width: 632px;
    color: #FFFFFF;
}
.small-title{
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
/*OFfer Section*/
.offers{
    margin-bottom: 120px;
}
.offers img{
    padding-left: 10px;
    height: 500px;
    margin-left: 50px;
}
.discount{
    font-weight: 700;
    font-size: 88px;
    margin-bottom: 30px;
}
.desr{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.other-desr{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 48px;
}

/*Party Section*/
.party-section{
    height: 600px;
    border-radius: 16px;
    margin-bottom: 120px;
    background-image: linear-gradient(to right ,rgba(0,0,0,0.9) , rgba(0,0,0,0.2)) , url(../assets/images/Vectorrr.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    gap: 94px;
    padding-left: 126px;
    padding-right: 126px;
    align-items: center;
}
.large-title{
    font-size: 75px;
    font-weight: 800;
    margin-bottom: 24px;
    color: gold;
}
.title-info{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 48px;
}
/*Location Section*/
.location{
    height: 482px;
    background-image: linear-gradient(rgba(233, 141, 141, 0.2),rgba(255,0,0,0));
    border-radius: 16px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 120px;
}


.location p{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}
.location-btn{
    margin-top: 70px;
}
/*Coming Soon Section*/
.upcoming{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 463px;
    /* gap:100px ; */
    margin-bottom: 120px;
}
.coming-soon,.year,.image{
    padding-top: 104px;
    width: 363px;
}
.txt{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 19px;
}
.CS{
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 22px;
}
.des{
    font-size: 20px;
    font-weight:300 ;
    margin-bottom: 43px;
}
.num{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
}
/* .image img{
    height: 100%;
    width: 100%;
} */
.image{
    /* padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px ; */
    padding: 40px;
    height: 400px;
    width: 400px;
    border: 15px solid #FF0000;
    border-radius: 50%;
}

/* .image img{
    border-radius:50% ;
    padding: 49.08px;
    padding-top: 20px;
} */

.image img{
    display: block;
    height: 100%;
    width: 100%;
}

/*Holiday Section */
.Holiday-Sale{
    text-align: center;
    margin-bottom: 120px;
}
.red_bg{
    background-image: url(../assets/images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    height: 229px;
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}
/* .gift_box{
    height: max-content;
    margin-bottom: 400px;
    width: 674.82px;
    height: 577.96px;
    position: top right;

} */



.red-bgg{
    position: relative;
}
.red_bg{
    position: absolute;
    margin-top: 497px;
    border-radius: 16px;
    
}
.gift_box{
    /* bottom: 10; */
    height: 662.07px ;
    width:796.46px;
    position: absolute;
    left: 0;
    /* margin-left: 100px; */
    margin-top: 100px;
    /* filter: drop-shadow(16px 16px 4px #7b7b85); */
    /* box-shadow: 10px 10px 10px white; */
    
    /* padding-bottom: 200px; */
}
.discount_img{
    position: absolute;
    right: 0;
    margin-top: 141px;
    
}