*{
    margin: 0px;
    padding: 0px;
}

.merriweather{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared class */
.color-1{
    background-color: #FF0000;
}

.btn{
    height: 56px;
    width: 167px;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    /* text-align: center; */
    color: white;
    cursor: pointer;
}
.center{
    text-align: center;
}

.big-text{
    font-size: 72px;
    font-weight: 900;
}

/*Navigation Bar*/
nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 50px;
    margin-top: 30px;
    margin-right: 80px;
    font-size: 20px;
    align-items: center;
}

nav ul li:hover{
    /* height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #FF0000; */
    color:#FF0000 ;
    cursor: pointer;
}

/*main Section*/
main{
    max-width: 1320px;
    margin: 0 auto;
}

/*banner-section*/
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 120px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.0)) , url(../assets/images/Banner\ Image.png);
    border-radius: 16px;
    /* background-size: cover;
    background-attachment: fixed; */
}
.big-title{
    height: 190px;
    width: 632px;
    color: #FFFFFF;
}
.small-title{
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

